<template>
    <div id="app">
        <Header @clicked="onClickResource"></Header>
        <div id="wrapper">
            <form v-on:keyup.enter="transition" v-on:submit.prevent class="formulaire">
                <b-card class="card">
                    <h1>Comment puis-je vous aider ?</h1>
                    <b-input placeholder="Recherche" class="inputR"></b-input>
                </b-card>
            </form>
            <div v-if="clicked" class="resource">
                <h1>{{this.title}}</h1>
                <p>{{this.description}}</p>
            </div>
            <Footer class="sesmorts"></Footer>
        </div>
    </div>
</template>

<script>
    import Header from "./components/Header";
    import Footer from "./components/Footer";


    export default {
        name: 'app',
        components: {
            Header,
            Footer
        },
        data() {
            return {
                title: '',
                description: '',
                clicked: null
            }
        },
        methods: {
            transition: function () {
                document.getElementsByClassName("formulaire")[0].style.top = "15%";
            },
            onClickResource: function (item) {

                this.title = item.title;
                this.description = item.description;
                this.clicked = true;
                this.transition();
            }
        },
        mounted: function () {

            document.getElementsByClassName("formulaire")[0].style.opacity = "100%";
            this.clicked = false;
        }
    }
</script>

<style>


    .formulaire {
      z-index: 2;
        opacity: 0;
        transition: top 0.5s ease-in-out 0s, opacity 1.0s ease-in 0s;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    #wrapper {
        position: relative;
        top: 0;
        width: 100%;
        height: 100%;
    }

    .resource {
        position: relative;
        top: 25%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        transform: translateY(-50%);
        width: 100%;
    }

    .card {
        position: relative;
        left: 50%;
        transform: translateX(50%);
        border: none !important;
    }

    .inputR {
        height: 100%;
        width: 50% !important;
        margin-left: auto;
        margin-right: auto;
        border-top: none !important;
        border-left: none !important;
        border-right: none !important;
    }

    .sesmorts{
        position: fixed;
        bottom: 0;
        background-color: rgb(27,145,169);
        width: 100%;

    }

    .sesmorts img{
        padding: 5px;
    }

    .inputR:focus {
      box-shadow: none !important;
      border-color: lightgray !important;
    }

</style>
