<template>
    <div id="header">
        <b-navbar toggleable="lg" type="dark" variant="info">

            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

            <b-collapse id="nav-collapse" is-nav>

                <!-- Categories -->
                <b-navbar-nav class="mx-auto">
                    <b-nav-item v-for="item in listResource" :key="item.title"
                                href="#" id="item.title" v-on:click="onClickResource(item)" v-b-tooltip.hover
                                v-bind:title=item.description>{{item.title}}
                    </b-nav-item>
                </b-navbar-nav>

            </b-collapse>
        </b-navbar>
    </div>
</template>

<script>
  import axios from 'axios'
  import {baseURL} from '../../variable.js'

  export default {
    name: 'Header',
    data() {
      return {
        listResource: [],
        resource_service_port: null
      }
    },
    methods: {
      onClickResource: function (item) {
        this.$emit('clicked', item)
      }
    },
    mounted: function () {
      axios
        .get(baseURL + ':4242' + '/services/resources', {
          headers: {
            'Content-Type': 'application/json'
          }
        })
        .then(response => {
          this.resource_service_port = response.data.port
          axios
            .get(baseURL + ':' + this.resource_service_port + '/resources/', {
              headers: {
                'Content-Type': 'application/json'
              }
            })
            .then(response => {
              this.listResource = response.data
            })
        })
    }


  }
</script>

<style lang="scss">
    .headerB {
        text-align: center;
    }
</style>
