<template>
    <!-- Footer -->
    <footer>
        <div class="imagesdufooterdesesmorts">
            <img src="../assets/hiptest.png">
            <img src="../assets/jet1oeil.png">
            <img src="../assets/skinsoft.png">
            <img src="../assets/smartesting.png">
        </div>

    </footer>
    <!-- Footer -->
</template>

<script>
    export default {
        name: "Footer"
    }
</script>

<style lang="css">

    .imagesdufooterdesesmorts{
        left: 50%;
        transform: translateX(25%);
    }

</style>
